.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    border-bottom: 1px solid black;
}

.brand-text{
    margin: 0%;
    padding: 20px;
    padding-left: 50px;
}

h1{ 
    margin: 0%;
    padding: 0%;
    font-size: 2em;
    font-style: italic;
}

.home-btn{
    border-radius: 2px;
    margin-right: 40px;
    width: 80px;
    height: 30px;
    color: black;
    border: 1px solid black;
    background-color: rgb(201, 230, 255);
    cursor: pointer;
}

.create-btn{
    border-radius: 2px;
    margin-right: 40px;
    width: 80px;
    height: 30px;
    background-color: rgb(201, 230, 255);
    color: black;
    border: 1px solid black;
    cursor: pointer;
}

.logout-btn{
    border-radius: 2px;
    margin-right: 40px;
    width: 80px;
    height: 30px;
    background-color: rgb(201, 230, 255);
    color: black;
    border: 1px solid black;
    cursor: pointer;
}